@use '../../styles/global.scss' as *;


.comments {
    height: 75vh;
    position: absolute;
    bottom: 3rem;
    background-color: white;

    &__emoji {
        width: 3rem;
        height: 3rem;
    }
}